.logo {
    margin-top: 20px;
    margin-bottom: 20px;
    text-align: center;
}

.logoTitle {
    color: white;
    vertical-align: text-bottom;
    font-size: 16px;
    text-transform: uppercase;
    display: inline-block;
}

p {
    color: #0a7be9;
}